_dev/zoo.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://grammarware.github.com/zoo" elementFormDefault="qualified">
	<xsd:element name="zoo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string"/>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="toolset" minOccurs="1" maxOccurs="4">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="link" minOccurs="1" maxOccurs="5">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="mu" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="name" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="name" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="item" minOccurs="1" maxOccurs="2">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="author" minOccurs="1" maxOccurs="2">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="title" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="venue" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="date" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="link" minOccurs="1" maxOccurs="5">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="uri" minOccurs="0" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="name" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="doi" minOccurs="0" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="name" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="itemset" minOccurs="1" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="item" minOccurs="1" maxOccurs="3">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="author" minOccurs="1" maxOccurs="2">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="title" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="venue" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="date" minOccurs="0" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="link" minOccurs="1" maxOccurs="4">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="uri" minOccurs="0" maxOccurs="1">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string"/>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="name" minOccurs="1" maxOccurs="1">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string"/>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="doi" minOccurs="0" maxOccurs="1">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string"/>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="name" type="xsd:string" use="required"/>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="language" minOccurs="1" maxOccurs="11">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="xsd:string"/>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="version" minOccurs="1" maxOccurs="4">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="name" minOccurs="1" maxOccurs="1">
											<xsd:complexType>
												<xsd:simpleContent>
													<xsd:extension base="xsd:string"/>
												</xsd:simpleContent>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="grammar" minOccurs="1" maxOccurs="6">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="name" minOccurs="1" maxOccurs="1">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string"/>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="handle" minOccurs="1" maxOccurs="1">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string"/>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="source" minOccurs="1" maxOccurs="8">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="author" minOccurs="0" maxOccurs="6">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="title" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="subtitle" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="date" minOccurs="1" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="link" minOccurs="1" maxOccurs="3">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="slps" minOccurs="0" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="name" minOccurs="1" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="uri" minOccurs="0" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="doi" minOccurs="0" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="standard" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="specific" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="file" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="edition" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="toolset" minOccurs="1" maxOccurs="2">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="name" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="link" minOccurs="0" maxOccurs="19">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="mu" minOccurs="0" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="name" minOccurs="1" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="xbgf" minOccurs="0" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="uri" minOccurs="0" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
															<xsd:attribute name="ref" type="xsd:string" use="optional"/>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="item" minOccurs="0" maxOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="author" minOccurs="1" maxOccurs="2">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="title" minOccurs="1" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="venue" minOccurs="1" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="date" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="specific" minOccurs="0" maxOccurs="1">
																	<xsd:complexType>
																		<xsd:simpleContent>
																			<xsd:extension base="xsd:string"/>
																		</xsd:simpleContent>
																	</xsd:complexType>
																</xsd:element>
																<xsd:element name="link" minOccurs="1" maxOccurs="4">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="uri" minOccurs="1" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="name" minOccurs="1" maxOccurs="1">
																				<xsd:complexType>
																					<xsd:simpleContent>
																						<xsd:extension base="xsd:string"/>
																					</xsd:simpleContent>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="itemset" minOccurs="0" maxOccurs="1">
														<xsd:complexType>
															<xsd:simpleContent>
																<xsd:extension base="xsd:string">
																	<xsd:attribute name="ref" type="xsd:string" use="required"/>
																</xsd:extension>
															</xsd:simpleContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
